
@font-face {
    font-family: 'cantarell-bold.ttf';
    src: url('cantarell-webfont.eot');
    src: url('cantarell-webfont.eot?#iefix') format('embedded-opentype'),
         url('cantarell-webfont.woff') format('woff'),
         url('cantarell-webfont.ttf') format('truetype'),
         url('cantarell-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
